<launch>
	<include file="$(find minilab_simulation)/launch/minilab_simulation.launch"/>
  <node name="my_teleop" pkg="my_teleop" type="my_teleop" />
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" />
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>
  <!--node name="move_base" pkg="move_base" type="move_base" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet_rob_mob)/default.rviz" required="true"/>
</launch>
